:root {
    --Red: rgb(246, 83, 81);
    --Blue: rgb(10, 49, 123);
    --White: rgb(255, 255, 255);
    --VeryLightGrayishBlue: rgb(247, 250, 253);
    --LightGrayishBlue1: rgb(229, 239, 250);
    --LightGrayishBlue2: rgb(221, 231, 238);
    --GrayishBlue: rgb(147, 157, 174);
    --DarkGrayishBlue: rgb(94, 103, 120);
    --VeryDarkBlue: rgb(28, 32, 43);
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    background-color: var(--VeryLightGrayishBlue);
}

.cursor{
    cursor: pointer;
}

.hover-blue:hover{
    color: var(--Blue);
}

.notification{
    width: 800px;
    background-color: var(--White);
    border-radius: 10px;
    padding: 30px 30px 15px 30px;
    margin: 50px auto;
    
}
.notification__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.notification__heading-count-wrapper{
    display: flex;
    align-items: center;
}

.notification__heading{
    font-size: 28px;
    font-weight: bold;
    color: var(--VeryDarkBlue);
}

.notification__count{
    font-size:18px;
    background-color: var(--Blue);
    color: var(--White);
    padding: 3px 12px;
    border-radius: 5px;
    margin-left: 15px;
}
.notification__button{
    background-color:transparent;
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--DarkGrayishBlue);
}
.notification__card{
    display: flex;
    padding: 20px;
    background-color: var(--VeryLightGrayishBlue);
    border-radius: 10px;
}
.notification__img-wrapper{
    width:50px;
    margin-right: 20px;
}
.notification__author-img{
    max-width:100%
}
.notification__text{
    color: var(--DarkGrayishBlue);
    padding: 5px 0 10px 0;
}
.notification__author{
    font-weight: 700;
    color: var(--VeryDarkBlue);
}

.notification__type{
    font-weight: 700;
    color: var(--DarkGrayishBlue);
}
.notification__unread{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--Red);
    margin-left: 5px;
}
.notification__age{
    color: var(--GrayishBlue)
}